@mixin breakpoint($point, $side: null) {
  $point-list: get-list-item($point, $breakpoint-list);
  $min-width: nth($point-list, 2);
  $max-width: nth($point-list, 3);
  @if $side == zero {
    $min-width: null;
  } @else if $side == infinity {
    $max-width: null;
  }
  @if $min-width and $max-width {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) { @content; }
  } @else if $min-width {
    @media only screen and (min-width: $min-width) { @content; }
  } @else if $max-width {
    @media only screen and (max-width: $max-width) { @content; }
  }
}

@mixin showMaxLines($font-size, $line-height, $lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  height: $font-size*$line-height*$lines;
  font-size: $font-size;
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
}
